<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<div class="card">
			<h5 class="card-header primary-color white-text  py-4">
				<strong>Formulario de Cuentas </strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<h:form id="frmCuenta">
					<p:messages id="msg" showDetail="true" closable="true"  />

				
					
					<div class="ui-g">
						<div class="ui-g-12">
							<div class="ui-g-6">
								<p:outputLabel value="Id cuenta:" styleClass="ui-g-6" />
								<p:inputMask id="txtIdCuenta"
									binding="#{cuentaFormView.txtIdCuenta}" mask="9999-9999-9999-9999"
									class="ui-g-6">
									<p:ajax listener="#{cuentaFormView.txtIdListener}"
										update="frmCuenta"></p:ajax>
								</p:inputMask>
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Clave: " styleClass="ui-g-6" />
								<p:password id="txtClave" redisplay="true" class="ui-g-6"
									binding="#{cuentaFormView.txtClave}" disabled="true" />
							</div>
							<div class="ui-g-6">
								<p:outputLabel class="ui-g-6" value="Saldo: " />
								<p:inputText value="0" id="txtSaldo" styleClass="ui-g-6"
									binding="#{cuentaFormView.txtSaldo}" />
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Id Cliente:" styleClass="ui-g-6" />
								<p:inputText id="txtIdCliente" styleClass="ui-g-6" 
									binding="#{cuentaFormView.txtIdCliente}">
									<p:ajax listener="#{cuentaFormView.txtIdClienteListener}"
										update="nombreCliente"></p:ajax>
								</p:inputText>
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Activa: " styleClass="ui-g-6" />
								<p:selectOneMenu id="somActivo" styleClass="ui-g-6"
									binding="#{cuentaFormView.somActivo}" style="width:50%">
									<f:selectItem itemLabel="---------" itemValue="-1" />
									<f:selectItem itemLabel="Sí" itemValue="S" />
									<f:selectItem itemLabel="No" itemValue="N" />
								</p:selectOneMenu>
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Nombre del cliente: " styleClass="ui-g-6" />
								<p:outputLabel value="-----" id="nombreCliente"
									styleClass="ui-g-6" binding="#{cuentaFormView.lblNombreCliente}"></p:outputLabel>
							</div>

						</div>

					</div>
					<h:panelGrid columns="4">
						<p:commandButton styleClass="btn btn-primary btn-block"
							id="btnCrear" value="Crear" action="#{cuentaFormView.crearAction}"
							update="frmCuenta" binding="#{cuentaFormView.btnCrear}"
							disabled="false" />
						<p:commandButton id="btnModificar"
							styleClass="btn btn-primary btn-block" value="Modificar"
							action="#{cuentaFormView.modificarAction}" update="frmCuenta"
							binding="#{cuentaFormView.btnModificar}" disabled="true" />
						<p:commandButton styleClass="btn btn-primary btn-block"
							id="btnBorrar" value="Inactivar cuenta" update="frmCuenta"
							action="#{cuentaFormView.borrarAction}"
							binding="#{cuentaFormView.btnBorrar}" disabled="true" />
						<p:commandButton id="btnLimpiar"
							styleClass="btn btn-primary btn-block" value="Limpiar "
							action="#{cuentaFormView.limpiarAction}" update="frmCuenta" />

					</h:panelGrid>
				

				</h:form>
			</div>
		</div>

	</ui:define>
</ui:composition>