<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<h:form id="frmCuenta">
		<p:growl></p:growl>
		<p:dataTable id="dataTableCuenta" var="cuenta"
			value="#{cuentaEditRemoveView.listaCuentas}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{cuenta.cuenId}">
				<h:outputText value="#{cuenta.cuenId}" />
			</p:column>

			<p:column headerText="Activa" filterBy="#{cuenta.activa}">
				<h:outputText value="#{cuenta.activa}" />
			</p:column>

			<p:column headerText="Saldo" filterBy="#{cuenta.saldo}">
				<h:outputText value="#{cuenta.saldo}" />
			</p:column>
			<p:column headerText="Cliente Id" filterBy="#{cuenta.cliente.clieId}">
				<h:outputText value="#{cuenta.cliente.clieId}" />
			</p:column>

			<p:column headerText="Nombre de Cliente"
				filterBy="#{cuenta.cliente.nombre}">
				<h:outputText value="#{cuenta.cliente.nombre}" />
			</p:column>

			<p:column headerText="Opciones">
				<p:commandButton id="btnEditar" icon="ui-icon-pencil"
					actionListener="#{cuentaEditRemoveView.modificarActionListener}"
					update="frmCuenta,frmCuenta:dialogCuenta">
					<f:attribute name="cuentaModificar" value="#{cuenta}" />
				</p:commandButton>
				<p:commandButton id="btnBorrar" icon="fa fa-toggle-off"
					actionListener="#{cuentaEditRemoveView.borrarActionListener}"
					update="frmCuenta">
					<f:attribute name="cuentaBorrar" value="#{cuenta}" />
				</p:commandButton>

			</p:column>
			<f:facet name="footer">
				<p:commandButton icon="ui-icon-plus" value="Crear"
					actionListener="#{cuentaEditRemoveView.crearActionListener}"
					update="frmCuenta, frmCuenta:dialogCuenta"></p:commandButton>
			</f:facet>

		</p:dataTable>
		<p:dialog id="dialogCuenta"
			visible="#{cuentaEditRemoveView.dialogCuentaVisible}" closable="true"
			widgetVar="dialogCuenta" width="800"  onShow="PF('dialogCuenta').initPosition()" position="center center" header="Editar Cuenta" modal="true">
			<p:messages></p:messages>
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="ui-g-6">
						<p:outputLabel value="Id cuenta:" styleClass="ui-g-6" />
						<p:inputMask id="txtIdCuenta"
							binding="#{cuentaEditRemoveView.txtIdCuenta}"
							mask="9999-9999-9999-9999" class="ui-g-6">
							<p:ajax listener="#{cuentaEditRemoveView.txtIdListener}"
								update="frmCuenta"></p:ajax>
						</p:inputMask>
					<p:tooltip id="toolTipIdCuenta" for="txtIdCuenta" value="Se asigna por el sistema al crear una cuenta" position="top"/>
					</div>
					<div class="ui-g-6">
						<p:outputLabel value="Clave: " styleClass="ui-g-6" />
						<p:password id="txtClave" redisplay="true" class="ui-g-6"
							binding="#{cuentaEditRemoveView.txtClave}" disabled="true" />
					</div>
					<div class="ui-g-6">
						<p:outputLabel class="ui-g-6" value="Saldo: " />
						<p:inputText value="0" id="txtSaldo" styleClass="ui-g-6"
							binding="#{cuentaEditRemoveView.txtSaldo}" />
					</div>
					<div class="ui-g-6">
						<p:outputLabel value="Id Cliente:" styleClass="ui-g-6" />
						<p:inputText id="txtIdCliente" styleClass="ui-g-6"
							binding="#{cuentaEditRemoveView.txtIdCliente}">
							<p:ajax listener="#{cuentaEditRemoveView.txtIdClienteListener}"
								update="nombreCliente"></p:ajax>
						</p:inputText>
					</div>
					<div class="ui-g-6">
						<p:outputLabel value="Activa: " styleClass="ui-g-6" />
						<p:selectOneMenu id="somActivo" styleClass="ui-g-6"
							binding="#{cuentaEditRemoveView.somActivo}" style="width:50%">
							<f:selectItem itemLabel="---------" itemValue="-1" />
							<f:selectItem itemLabel="Sí" itemValue="S" />
							<f:selectItem itemLabel="No" itemValue="N" />
						</p:selectOneMenu>
					</div>
					<div class="ui-g-6">
						<p:outputLabel value="Nombre del cliente: " styleClass="ui-g-6" />
						<p:outputLabel value="-----" id="nombreCliente"
							styleClass="ui-g-6"
							binding="#{cuentaEditRemoveView.lblNombreCliente}"></p:outputLabel>
					</div>

				</div>

			</div>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" value="Crear"
					action="#{cuentaEditRemoveView.crearAction}" update="frmCuenta"
					binding="#{cuentaEditRemoveView.btnCrear}" disabled="false"
					onstart="PF('statusDialog').show()"
					onsuccess="PF('statusDialog').hide()" />
				<p:commandButton id="btnModificar" value="Modificar"
					action="#{cuentaEditRemoveView.modificarAction}" update="frmCuenta"
					binding="#{cuentaEditRemoveView.btnModificar}" disabled="true" />
				<p:commandButton id="btnBorrar" value="Inactivar" update="frmCuenta"
					action="#{cuentaEditRemoveView.borrarAction}"
					binding="#{cuentaEditRemoveView.btnBorrar}" disabled="true" />
				<p:commandButton id="btnLimpiar" value="Limpiar "
					action="#{cuentaEditRemoveView.limpiarAction}" update="frmCuenta" />

			</h:panelGrid>


		</p:dialog>

	</h:form>
</ui:define>
</ui:composition>