<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<h:form>
		<p:dataTable id="dataTableTransaccion" var="tran"
			value="#{transaccionView.listaTransaccion}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{tran.tranId}">
				<h:outputText value="#{tran.tranId}" />
			</p:column>

			<p:column headerText="Fecha" filterBy="#{tran.fecha}">
				<h:outputText value="#{tran.fecha}">
				
				</h:outputText>
			</p:column>

			<p:column headerText="Valor" filterBy="#{tran.valor}">
				<h:outputText value="#{tran.valor}">
					<f:convertNumber type="currency" currencySymbol="$" />
				</h:outputText>
			</p:column>

			<p:column headerText="Tipo" filterBy="#{tran.nombreTipoTransaccion}">
				<h:outputText value="#{tran.nombreTipoTransaccion}">
				</h:outputText>
			</p:column>

			<p:column headerText="Cuenta" filterBy="#{tran.cuenId}">
				<h:outputText value="#{tran.cuenId} ">
				</h:outputText>
			</p:column>

			<p:column headerText="Usuario" filterBy="#{tran.usuUsuario}">
				<h:outputText value="#{tran.usuUsuario} ">
				</h:outputText>
			</p:column>
			
				<p:column headerText="Tipo Usuario" filterBy="#{tran.nombreTipoUsuario}">
				<h:outputText value="#{tran.nombreTipoUsuario} ">
				</h:outputText>
			</p:column>

		</p:dataTable>

	</h:form>
</ui:define>
</ui:composition>