<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
 		<h:form>
		<p:dataTable id="dataTableTipoUsuario" var="tiUs"
			value="#{tipoUsuarioView.listaTipoUsuario}" rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{tiUs.tiusId}">
				<h:outputText value="#{tiUs.tiusId}" />
			</p:column>

			<p:column headerText="Nombre" filterBy="#{tiUs.nombre}">
				<h:outputText value="#{tiUs.nombre}" />
			</p:column>

			<p:column headerText="Activo" filterBy="#{tiUs.activo}">
				<h:outputText  value="#{tiUs.activo}" />
			</p:column>

		</p:dataTable>
		
	</h:form>

</ui:define>
</ui:composition>