<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<h:form>
		<p:dataTable id="dataTableUsuario" var="usu"
			value="#{usuarioView.listaUsuario}" rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Nombre de usuario" filterBy="#{usu.usuUsuario}">
				<h:outputText value="#{usu.usuUsuario}" />
			</p:column>

			<p:column headerText="Activo" filterBy="#{usu.activo}">
				<h:outputText value="#{usu.activo}" />
			</p:column>

			<p:column headerText="Clave" filterBy="#{usu.clave}">
				<h:outputText value="#{usu.clave}" />
			</p:column>

			<p:column headerText="Identificacion"
				filterBy="#{usu.identificacion}">
				<h:outputText value="#{usu.identificacion}" />
			</p:column>
			<p:column headerText="Nombre" filterBy="#{usu.nombre}">
				<h:outputText value="#{usu.nombre}" />
			</p:column>
		</p:dataTable>

	</h:form>

</ui:define>
</ui:composition>