<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
 		<h:form>
		<p:dataTable id="dataTableCuentaRegistrada" var="cuentaRe"
			value="#{cuentaRegistradaView.listaCuentasRegistradas}" rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{cuentaRe.cureId}">
				<h:outputText value="#{cuentaRe.cureId}" />
			</p:column>

			<p:column headerText="Id Cliente" filterBy="#{cuentaRe.clieId}">
				<h:outputText value="#{cuentaRe.clieId}" />
			</p:column>

			<p:column headerText="Id Cuenta" filterBy="#{cuentaRe.cuenId}">
				<h:outputText  value="#{cuentaRe.cuenId}" />
			</p:column>

		</p:dataTable>
		
	</h:form>
</ui:define>
</ui:composition>