<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
 		<h:form>
 		
		<p:dataTable id="dataTableTipoTransaccion" var="tiTran"
			value="#{tipoTransaccionView.listaTipoTransaccion}" rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{tiTran.titrId}">
				<h:outputText value="#{tiTran.titrId}" />
			</p:column>

			<p:column headerText="Nombre" filterBy="#{tiTran.nombre}">
				<h:outputText value="#{tiTran.nombre}" />
			</p:column>

			<p:column headerText="Activo" filterBy="#{tiTran.activo}">
				<h:outputText  value="#{tiTran.activo}" />
			</p:column>

		</p:dataTable>
		
	</h:form>
</ui:define>
</ui:composition>