<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<p:panel header="Formulario Tipo de transaccion">
		<h:form id="frmTiTran">
			<p:growl id="msg" showDetail="true" closable="true">

			</p:growl>
			<h:panelGrid columns="4">


				<p:outputLabel value="Identificador:" />
				<p:inputText id="txtIdTipoTran"
					binding="#{tipoTransaccionView.txtIdTipoTran}">
					<p:ajax listener="#{tipoTransaccionView.txtIdTipoTranListener}"
						update="frmTiTran"></p:ajax>
				</p:inputText>
				<p:outputLabel value="Nombre: " />
				<p:inputText id="txtNombreTipoTran"
					binding="#{tipoTransaccionView.txtNombreTipoTran}" />
				<p:outputLabel value="Activo" />
				<p:selectOneMenu id="somActivo"
					binding="#{tipoTransaccionView.somActivo}" style="width:80%">
					<f:selectItem itemLabel="-----" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" value="Crear"
					action="#{tipoTransaccionView.crearAction}" update="frmTiTran"
					binding="#{tipoTransaccionView.btnCrear}" disabled="true" />
				<p:commandButton id="btnModificar" value="Modificar"
					action="#{tipoTransaccionView.modificarAction}" update="frmTiTran"
					binding="#{tipoTransaccionView.btnModificar}" disabled="true" />
				<p:commandButton id="btnBorrar" value="Borrar"
					action="#{tipoTransaccionView.borrarAction}" update="frmTiTran"
					disabled="true" binding="#{tipoTransaccionView.btnBorrar}" />
				<p:commandButton id="btnLimpiar" value="Limpiar"
					action="#{tipoTransaccionView.limpiarAction}" update="frmTiTran" />

			</h:panelGrid>


		</h:form>
	</p:panel>
</ui:define>
</ui:composition>