<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<h:form id="frmTiTran">
		<p:growl></p:growl>

		<p:dataTable id="dataTableTipoTransaccion" var="tiTran"
			value="#{tipoTransaccionEditRemoveView.listaTipoTransaccion}"
			rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{tiTran.titrId}">
				<h:outputText value="#{tiTran.titrId}" />
			</p:column>

			<p:column headerText="Nombre" filterBy="#{tiTran.nombre}">
				<h:outputText value="#{tiTran.nombre}" />
			</p:column>

			<p:column headerText="Activo" filterBy="#{tiTran.activo}">
				<h:outputText value="#{tiTran.activo}" />
			</p:column>

			<p:column headerText="Opciones">
				<p:commandButton id="btnEditar" icon="ui-icon-pencil"
					actionListener="#{tipoTransaccionEditRemoveView.modificarActionListener}"
					update="frmTiTran,frmTiTran:dialogTiTran">
					<f:attribute name="tipoTransaccionModificar" value="#{tiTran}" />
				</p:commandButton>
				<p:commandButton id="btnBorrar" icon="ui-icon-trash"
					actionListener="#{tipoTransaccionEditRemoveView.borrarActionListener}"
					update="frmTiTran">
					<f:attribute name="tipoTransaccionBorrar" value="#{tiTran}" />
				</p:commandButton>
			</p:column>
			<f:facet name="footer">
				<p:commandButton icon="ui-icon-plus" value="Crear"
					actionListener="#{tipoTransaccionEditRemoveView.crearActionListener}"
					update="frmTiTran frmTiTran:dialogTiTran"></p:commandButton>
			</f:facet>
		</p:dataTable>
		<p:dialog id="dialogTiTran"
			visible="#{tipoTransaccionEditRemoveView.dialogTipoTransaccionVisible}"
			closable="true" widgetVar="dialogTiTran"
			header="Editar Tipo de Transaccion" modal="true">
		<p:messages></p:messages>
		<h:panelGrid columns="4">


				<p:outputLabel value="Identificador:" />
				<p:inputText id="txtIdTipoTran"
					binding="#{tipoTransaccionEditRemoveView.txtIdTipoTran}">
					<p:ajax listener="#{tipoTransaccionEditRemoveView.txtIdTipoTranListener}"
						update="frmTiTran"></p:ajax>
				</p:inputText>
				<p:outputLabel value="Nombre: " />
				<p:inputText id="txtNombreTipoTran"
					binding="#{tipoTransaccionEditRemoveView.txtNombreTipoTran}" />
				<p:outputLabel value="Activo" />
				<p:selectOneMenu id="somActivo"
					binding="#{tipoTransaccionEditRemoveView.somActivo}" style="width:80%">
					<f:selectItem itemLabel="-----" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" value="Crear"
					action="#{tipoTransaccionEditRemoveView.crearAction}" update="frmTiTran"
					binding="#{tipoTransaccionEditRemoveView.btnCrear}" disabled="true" />
				<p:commandButton id="btnModificar" value="Modificar"
					action="#{tipoTransaccionEditRemoveView.modificarAction}" update="frmTiTran"
					binding="#{tipoTransaccionEditRemoveView.btnModificar}" disabled="true" />
				<p:commandButton id="btnBorrar" value="Borrar"
					action="#{tipoTransaccionEditRemoveView.borrarAction}" update="frmTiTran"
					disabled="true" binding="#{tipoTransaccionEditRemoveView.btnBorrar}" />
				<p:commandButton id="btnLimpiar" value="Limpiar"
					action="#{tipoTransaccionEditRemoveView.limpiarAction}" update="frmTiTran" />

			</h:panelGrid>


		</p:dialog>
	</h:form>
</ui:define>
</ui:composition>