<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<h:form id="frmTiUs">
		<p:growl></p:growl>
		<p:dataTable id="dataTableTipoUsuario" var="tiUs"
			value="#{tipoUsuarioEditRemoveView.listaTipoUsuario}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{tiUs.tiusId}">
				<h:outputText value="#{tiUs.tiusId}" />
			</p:column>

			<p:column headerText="Nombre" filterBy="#{tiUs.nombre}">
				<h:outputText value="#{tiUs.nombre}" />
			</p:column>

			<p:column headerText="Activo" filterBy="#{tiUs.activo}">
				<h:outputText value="#{tiUs.activo}" />
			</p:column>

			<p:column headerText="Opciones">
				<p:commandButton id="btnEditar" icon="ui-icon-pencil"
					actionListener="#{tipoUsuarioEditRemoveView.modificarActionListener}"
					update="frmTiUs,frmTiUs:dialogTiUs">
					<f:attribute name="tipoUsuarioModificar" value="#{tiUs}" />
				</p:commandButton>
				<p:commandButton id="btnBorrar" icon="ui-icon-trash"
					actionListener="#{tipoUsuarioEditRemoveView.borrarActionListener}"
					update="frmTiUs">
					<f:attribute name="tipoUsuarioBorrar" value="#{tiUs}" />
				</p:commandButton>
			</p:column>
			<f:facet name="footer">
				<p:commandButton icon="ui-icon-plus" value="Crear"
					actionListener="#{tipoUsuarioEditRemoveView.crearActionListener}"
					update="frmTiUs, frmTiUs:dialogTiUs"></p:commandButton>
			</f:facet>
		</p:dataTable>
		<p:dialog id="dialogTiUs"
			visible="#{tipoUsuarioEditRemoveView.dialogTipoUsuarioVisible}"
			closable="true" widgetVar="dialogTiUs"
			header="Editar Tipo de Usuario" modal="true">
			<p:messages></p:messages>
			<h:panelGrid columns="4">


				<p:outputLabel value="Identificador:" />
				<p:inputText id="txtIdTipoUsu"
					binding="#{tipoUsuarioEditRemoveView.txtIdTipoUsuario}">
					<p:ajax
						listener="#{tipoUsuarioEditRemoveView.txtIdTipoUsuListener}"
						update="frmTiUs"></p:ajax>
				</p:inputText>
				<p:outputLabel value="Nombre: " />
				<p:inputText id="txtNombreTipoUsu"
					binding="#{tipoUsuarioEditRemoveView.txtNombreTipoUsuario}" />
				<p:outputLabel value="Activo" />
				<p:selectOneMenu id="somActivo" style="width:80%"
					binding="#{tipoUsuarioEditRemoveView.somActivo}">
					<f:selectItem itemLabel="-----" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" value="Crear" disabled="true"
					binding="#{tipoUsuarioEditRemoveView.btnCrear}" update="frmTiUs"
					action="#{tipoUsuarioEditRemoveView.crearAction}" />
				<p:commandButton id="btnModificar" value="Modificar" disabled="true"
					update="frmTiUs"
					binding="#{tipoUsuarioEditRemoveView.btnModificar}"
					action="#{tipoUsuarioEditRemoveView.modificarAction}" />
				<p:commandButton id="btnBorrar" value="Borrar" disabled="true"
					update="frmTiUs" binding="#{tipoUsuarioEditRemoveView.btnBorrar}"
					action="#{tipoUsuarioEditRemoveView.borrarAction}" />
				<p:commandButton id="btnLimpiar" value="Limpiar" update="frmTiUs"
					action="#{tipoUsuarioEditRemoveView.limpiarAction}" />

			</h:panelGrid>

		</p:dialog>

	</h:form>
</ui:define>
</ui:composition>