<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
 		<h:form id="frmTiDoc">
 		<p:growl></p:growl>
		<p:dataTable id="dataTableTipoDocumento" var="tiDoc"
			value="#{tipoDocumentoEditRemoveView.listaTipoDocumento}" rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{tiDoc.tdocId}">
				<h:outputText value="#{tiDoc.tdocId}" />
			</p:column>

			<p:column headerText="Nombre" filterBy="#{tiDoc.nombre}">
				<h:outputText value="#{tiDoc.nombre}" />
			</p:column>

			<p:column headerText="Activo" filterBy="#{tiDoc.activo}">
				<h:outputText  value="#{tiDoc.activo}" />
			</p:column>
			
			<p:column headerText="Opciones">
				<p:commandButton id="btnEditar" icon="ui-icon-pencil"
					actionListener="#{tipoDocumentoEditRemoveView.modificarActionListener}"
					update="frmTiDoc,frmTiDoc:dialogTiDoc">
					<f:attribute name="tipoDocumentoModificar" value="#{tiDoc}" />
				</p:commandButton>
				<p:commandButton id="btnBorrar" icon="ui-icon-trash"
					actionListener="#{tipoDocumentoEditRemoveView.borrarActionListener}"
					update="frmTiDoc">
					<f:attribute name="tipoDocumentoBorrar" value="#{tiDoc}" />
				</p:commandButton>
			</p:column>
			<f:facet name="footer">
				<p:commandButton icon="ui-icon-plus" value="Crear"
					actionListener="#{tipoDocumentoEditRemoveView.crearActionListener}"
					update="frmTiDoc, frmTiDoc:dialogTiDoc"></p:commandButton>
			</f:facet>

		</p:dataTable>
		<p:dialog id="dialogTiDoc" visible="#{tipoDocumentoEditRemoveView.dialogTipoDocumentoVisible}" closable="true" widgetVar="dialogTiDoc" header="Editar tipo de documento" modal="true">
		<p:messages></p:messages>
		 <h:panelGrid columns="4">


				<p:outputLabel value="Identificador:" />
				<p:inputText id="txtIdTipoDoc"
					binding="#{tipoDocumentoEditRemoveView.txtIdTipoDoc}" >
						<p:ajax listener="#{tipoDocumentoEditRemoveView.txtIdTipoDocListener}"
						
						update="frmTiDoc">
					</p:ajax>
					</p:inputText>
				<p:outputLabel value="Nombre: " />
				<p:inputText id="txtNombreTipoDoc"
					binding="#{tipoDocumentoEditRemoveView.txtNombreTipoDoc}" />
				<p:outputLabel value="Activo" />
				<p:selectOneMenu id="somActivo" style="width:80%"
					binding="#{tipoDocumentoEditRemoveView.somActivo}">
					<f:selectItem itemLabel="-----" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton value="Crear" id="btnCrear"
					binding="#{tipoDocumentoEditRemoveView.btnCrear}" disabled="true" action="#{tipoDocumentoEditRemoveView.crearAction}"	update="frmTiDoc" />
				<p:commandButton value="Modificar" id="btnModificar"
					binding="#{tipoDocumentoEditRemoveView.btnModificar}" disabled="true" action="#{tipoDocumentoEditRemoveView.modificarAction}"	update="frmTiDoc" />
				<p:commandButton value="Borrar" id="btnBorrar"
					binding="#{tipoDocumentoEditRemoveView.btnBorrar}" disabled="true" action="#{tipoDocumentoEditRemoveView.borrarAction}"	update="frmTiDoc"/>
				<p:commandButton id="btnLimpiar" value="Limpiar" action="#{tipoDocumentoEditRemoveView.limpiarAction}"	update="frmTiDoc" />
			</h:panelGrid>
		
		</p:dialog>
		
		
	</h:form>
</ui:define>
</ui:composition>