<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<p:panel header="Formulario Tipo de Usuario">
		<h:form id="frmTiUs">
			<p:growl id="msg" showDetail="true" closable="true">

			</p:growl>
			<h:panelGrid columns="4">


				<p:outputLabel value="Identificador:" />
				<p:inputText id="txtIdTipoUsu"
					binding="#{tipoUsuarioView.txtIdTipoUsuario}">
					<p:ajax listener="#{tipoUsuarioView.txtIdTipoUsuListener}" update="frmTiUs"></p:ajax>
					</p:inputText>
				<p:outputLabel value="Nombre: " />
				<p:inputText id="txtNombreTipoUsu"
					binding="#{tipoUsuarioView.txtNombreTipoUsuario}" />
				<p:outputLabel value="Activo" />
				<p:selectOneMenu id="somActivo" style="width:80%"
					binding="#{tipoUsuarioView.somActivo}">
					<f:selectItem itemLabel="-----" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" value="Crear" disabled="true" binding="#{tipoUsuarioView.btnCrear}" update="frmTiUs" action="#{tipoUsuarioView.crearAction}"/>
				<p:commandButton id="btnModificar" value="Modificar" disabled="true" update="frmTiUs" binding="#{tipoUsuarioView.btnModificar}" action="#{tipoUsuarioView.modificarAction}"/>
				<p:commandButton id="btnBorrar" value="Borrar" disabled="true" update="frmTiUs" binding="#{tipoUsuarioView.btnBorrar}" action="#{tipoUsuarioView.borrarAction}"/>
				<p:commandButton id="btnLimpiar" value="Limpiar" update="frmTiUs" action="#{tipoUsuarioView.limpiarAction}" />

			</h:panelGrid>


		</h:form>
	</p:panel>
</ui:define>
</ui:composition>