<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<p:panel header="Formulario Tipo de documento">
		<h:form id="frmTiDoc">
			<p:growl id="msg" showDetail="true" closable="true">

			</p:growl>
			<h:panelGrid columns="4">


				<p:outputLabel value="Identificador:" />
				<p:inputText id="txtIdTipoDoc"
					binding="#{tipoDocumentoView.txtIdTipoDoc}" >
						<p:ajax listener="#{tipoDocumentoView.txtIdTipoDocListener}"
						
						update="frmTiDoc">
					</p:ajax>
					</p:inputText>
				<p:outputLabel value="Nombre: " />
				<p:inputText id="txtNombreTipoDoc"
					binding="#{tipoDocumentoView.txtNombreTipoDoc}" />
				<p:outputLabel value="Activo" />
				<p:selectOneMenu id="somActivo" style="width:80%"
					binding="#{tipoDocumentoView.somActivo}">
					<f:selectItem itemLabel="-----" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton value="Crear" id="btnCrear"
					binding="#{tipoDocumentoView.btnCrear}" disabled="true" action="#{tipoDocumentoView.crearAction}"	update="frmTiDoc" />
				<p:commandButton value="Modificar" id="btnModificar"
					binding="#{tipoDocumentoView.btnModificar}" disabled="true" action="#{tipoDocumentoView.modificarAction}"	update="frmTiDoc" />
				<p:commandButton value="Borrar" id="btnBorrar"
					binding="#{tipoDocumentoView.btnBorrar}" disabled="true" action="#{tipoDocumentoView.borrarAction}"	update="frmTiDoc"/>
				<p:commandButton id="btnLimpiar" value="Limpiar" action="#{tipoDocumentoView.limpiarAction}"	update="frmTiDoc" />
			</h:panelGrid>


		</h:form>
	</p:panel>
</ui:define>
</ui:composition>