<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<h:form id="frmUsuario">
	<p:growl></p:growl>
		<p:dataTable id="dataTableUsuario" var="usu"
			value="#{usuarioEditRemoveView.listaUsuario}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Nombre de usuario" filterBy="#{usu.usuUsuario}">
				<h:outputText value="#{usu.usuUsuario}" />
			</p:column>
				<p:column headerText="Nombre" filterBy="#{usu.nombre}">
				<h:outputText value="#{usu.nombre}" />
			</p:column>
			<p:column headerText="Identificacion"
				filterBy="#{usu.identificacion}">
				<h:outputText value="#{usu.identificacion}" />
			</p:column>
		
			<p:column headerText="Tipo de Usuario" filterBy="#{usu.tipoUsuario.nombre}">
				<h:outputText value="#{usu.tipoUsuario.nombre}" />
			</p:column>
			

			<p:column headerText="Activo" filterBy="#{usu.activo}">
				<h:outputText value="#{usu.activo}" />
			</p:column>

			
			
			<p:column headerText="Opciones">
				<p:commandButton id="btnEditar" icon="ui-icon-pencil"
					actionListener="#{usuarioEditRemoveView.modificarActionListener}"
					update="frmUsuario">
					<f:attribute name="usuarioModificar" value="#{usu}" />
				</p:commandButton>
				<p:commandButton id="btnBorrar" icon="ui-icon-trash"
					actionListener="#{usuarioEditRemoveView.borrarActionListener}"
					update="frmUsuario">
					<f:attribute name="usuarioBorrar" value="#{usu}" />
				</p:commandButton>

			</p:column>
			<f:facet name="footer">
				<p:commandButton icon="ui-icon-plus" value="Crear"
					update="frmUsuario, frmUsuario:dialogUsuario"
					actionListener="#{usuarioEditRemoveView.crearActionListener}"></p:commandButton>
			</f:facet>
		</p:dataTable>
		<p:dialog id="dialogUsuario" visible="#{usuarioEditRemoveView.dialogUsuarioVisible}" closable="true" widgetVar="dialogUsuario"  modal="true" header="Editar usuario">
		<p:messages></p:messages>
		<h:panelGrid columns="4">

				<p:outputLabel value="Nombre de usuario" />
				<p:inputText id="txtNombreUsuario" binding="#{usuarioEditRemoveView.txtNombreUsuario}">
				<p:ajax listener="#{usuarioEditRemoveView.txtNombreUsuarioListener}" update="frmUsuario">  </p:ajax>
				</p:inputText>

				<p:outputLabel value="Nombre:" />
				<p:inputText id="txtNombre" binding="#{usuarioEditRemoveView.txtNombre}" />

				<p:outputLabel value="Identificación: " />
				<p:inputText id="txtIdentifiacion" binding="#{usuarioEditRemoveView.txtIdentificacion}" />

				<p:outputLabel value="Clave:" />
				<p:password binding="#{usuarioEditRemoveView.txtClave}" id="txtClave" redisplay="true"/>
				<p:outputLabel value="Tipo de Usuario " />
				<p:selectOneMenu id="somTipoUsuario" binding="#{usuarioEditRemoveView.somTipoUsuario}" style="width:80%">
					<f:selectItem itemLabel="Selecciona uno" itemValue="-1" />
					<f:selectItems value="#{usuarioEditRemoveView.losTiposUsuarioSelectItem}"></f:selectItems>


				</p:selectOneMenu>
				<p:outputLabel value="Activo " />
				<p:selectOneMenu binding="#{usuarioEditRemoveView.somActivo}" id="somActivo" style="width:85%">
					<f:selectItem itemLabel="---------" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" binding="#{usuarioEditRemoveView.btnCrear}" action="#{usuarioEditRemoveView.crearAction}" value="Crear" disabled="true"  update="frmUsuario"/>
				<p:commandButton id="btnModificar" binding="#{usuarioEditRemoveView.btnModificar}" value="Modificar" disabled="true" action="#{usuarioEditRemoveView.modificarAction}" update ="frmUsuario"/>
				<p:commandButton id="btnBorrar" value="Borrar" binding="#{usuarioEditRemoveView.btnBorrar}" disabled="true" action="#{usuarioEditRemoveView.borrarAction}" update ="frmUsuario"/>
				<p:commandButton id="btnLimpiar" value="Limpiar" binding="#{usuarioEditRemoveView.btnLimpiar}" action="#{usuarioEditRemoveView.limpiarAction}" update ="frmUsuario" />

			</h:panelGrid>
		</p:dialog>

	</h:form>
</ui:define>
</ui:composition>