<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
	<p:panel header="Formulario Usuario">
		<h:form id="frmUsuario">
			<p:growl id="msg" showDetail="true" closable="true">

			</p:growl>
			<h:panelGrid columns="4">

				<p:outputLabel value="Nombre de usuario" />
				<p:inputText id="txtNombreUsuario" binding="#{usuarioView.txtNombreUsuario}">
				<p:ajax listener="#{usuarioView.txtNombreUsuarioListener}" update="frmUsuario">  </p:ajax>
				</p:inputText>

				<p:outputLabel value="Nombre:" />
				<p:inputText id="txtNombre" binding="#{usuarioView.txtNombre}" />

				<p:outputLabel value="Identificación: " />
				<p:inputText id="txtIdentifiacion" binding="#{usuarioView.txtIdentificacion}" />

				<p:outputLabel value="Clave:" />
				<p:inputText binding="#{usuarioView.txtClave}" id="txtClave"></p:inputText>
				<p:outputLabel value="Tipo de Usuario " />
				<p:selectOneMenu id="somTipoUsuario" binding="#{usuarioView.somTipoUsuario}" style="width:80%">
					<f:selectItem itemLabel="Selecciona uno" itemValue="-1" />
					<f:selectItems value="#{usuarioView.losTiposUsuarioSelectItem}"></f:selectItems>


				</p:selectOneMenu>
				<p:outputLabel value="Activo " />
				<p:selectOneMenu binding="#{usuarioView.somActivo}" id="somActivo" style="width:85%">
					<f:selectItem itemLabel="---------" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" binding="#{usuarioView.btnCrear}" action="#{usuarioView.crearAction}" value="Crear" disabled="true"  update="frmUsuario"/>
				<p:commandButton id="btnModificar" binding="#{usuarioView.btnModificar}" value="Modificar" disabled="true" action="#{usuarioView.modificarAction}" update ="frmUsuario"/>
				<p:commandButton id="btnBorrar" value="Borrar" binding="#{usuarioView.btnBorrar}" disabled="true" action="#{usuarioView.borrarAction}" update ="frmUsuario"/>
				<p:commandButton id="btnLimpiar" value="Limpiar" binding="#{usuarioView.btnLimpiar}" action="#{usuarioView.limpiarAction}" update ="frmUsuario" />

			</h:panelGrid>
		</h:form>
	</p:panel>
</ui:define>
</ui:composition>