<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<div class="card">
			<h5 class="card-header primary-color white-text  py-4">
				<strong>Realizar Transacción </strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<h:form id="frmTransaccion">
					<p:messages id="msg" showDetail="true" closable="true" />



					<div class="ui-g">
						<div class="ui-g-12">
							<div class="ui-g-12">
								<p:outputLabel value="Tipo de transacción:" styleClass="ui-g-3" />
								<p:selectOneButton value="#{transaccionBancariaView.option}" >
									<f:selectItem itemLabel="Consignación" itemValue="1" />
									<f:selectItem itemLabel="Retiro" itemValue="2" />
								</p:selectOneButton>


							</div>
							<div class="ui-g-12">
								<p:outputLabel value="Numero de Cuenta: " styleClass="ui-g-3" />
								<p:inputText id="txtClave"  class="ui-g-6"
									binding="#{transaccionBancariaView.txtIdCuenta}" />
							</div>
							<div class="ui-g-12">
								<p:outputLabel class="ui-g-3" value="Valor: " />
								 <p:inputNumber id="valor" value="#{transaccionBancariaView.valor}" styleClass="ui-g-6" />
							
							</div>
						</div>

					</div>
					<h:panelGrid columns="4">
						<p:commandButton styleClass="btn btn-primary btn-block"
							id="btnCrear" value="Realizar transacción" action="#{transaccionBancariaView.realizarTransaccionAction}"
							update="frmTransaccion" binding="#{transaccionBancariaView.btnRealizar}"
							disabled="false"/>

						<p:commandButton id="btnLimpiar"
							styleClass="btn btn-primary btn-block" value="Limpiar "
							action="#{transaccionBancariaView.limpiarAction}" update="frmTransaccion" />

					</h:panelGrid>


				</h:form>
			</div>
		</div>

	</ui:define>
</ui:composition>