
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="frmPrincipal">

			<div class="card mb-4  fadeIn"
				style="visibility: visible; animation-name: fadeIn;">

				<!--Card content-->
				<div class="card-body d-sm-flex justify-content-between">

					<h4 class="mb-2 mb-sm-0 pt-1">
						<a>Página principal</a> <span>/</span> <span><p:outputLabel
								value="#{usuarioView.usuarioEnSesion.tipoUsuario.nombre}" /></span>
					</h4>


				</div>

			</div>

			<!-- Clientes -->

			<div class="card-deck  fadeIn" style="animation-name: fadeIn;">
				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesCliente}"
					style="display:block">
					<div>
						<h3
							class="card-header blue lighthen-1  white-text  text-center py-4">
							<i class="fa fa-user mr-3"></i> Clientes
						</h3>

						<!--Card content-->
						<div class="card-body">
							<!--Title-->

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/listaClientes.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de Clientes
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/clienteEditRemove.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Listar y editar Clientes
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/cliente.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Formulario de Clientes
								</a>
							</div>

						</div>
					</div>
				</p:outputPanel>
				<!-- Clientes -->

				<!-- Cuentas -->
				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesCliente}"
					style="display:block">

					<div>
						<h3 class="card-header blue   white-text  text-center py-4">
							<i class="fa fa-credit-card mr-3"></i> Cuentas
						</h3>

						<!--Card content -->
						<div class="card-body">
							<!--Title-->

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/listaCuenta.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de Cuentas
								</a>
								<p:outputPanel
									rendered="#{renderAdminBancariaView.renderOpcionesAdmin}">
									<a
										href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/cuentaEditRemove.xhtml"
										class="list-group-item list-group-item-action "> <i
										class="fa fa-edit mr-3"></i>Listar y editar cuentas
									</a>
									<a
										href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/cuentaFormulario.xhtml"
										class="list-group-item list-group-item-action waves-effect">
										<i class="fa fa-edit mr-3"></i>Formulario de cuentas
									</a>
								</p:outputPanel>
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/cuenta.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-plus-circle mr-3"></i>Crear cuenta
								</a>

							</div>
						</div>
					</div>
				</p:outputPanel>

				<!-- Cuentas -->

				<!-- Usuarios -->
				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesAdmin}"
					style="display:block">
					<div>
						<h3
							class="card-header blue darken-1  white-text  text-center py-4">
							<i class="fa fa-id-card mr-3"></i>Usuarios
						</h3>
						<!--Card content-->
						<div class="card-body">
							<!--Title-->

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaUsuario.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de usuarios
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/usuarioEditRemove.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Lista editable de usuarios
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/usuario.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Formulario de usuarios
								</a>
							</div>
						</div>
					</div>
				</p:outputPanel>
				<!-- Usuarios -->


			</div>

			<div class="card-deck  fadeIn" style="animation-name: fadeIn;">
				<!-- Transacciones -->
				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesAdmin}"
					style="display:block">
					<div>
						<h3
							class="card-header green darken-2  white-text  text-center py-4">
							<i class="fa fa-money mr-3"></i>Transacciones
						</h3>

						<!--Card content-->
						<div class="card-body">

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTransaccion.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de transacciones
								</a>
							</div>
						</div>
					</div>
				</p:outputPanel>

				<!-- Transacciones-->

				<!-- Tipos de usuario-->

				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesAdmin}"
					style="display:block">
					<div>
						<h3
							class="card-header blue darken-2  white-text  text-center py-4">
							<i class="fa fa-tag mr-3"></i>Tipos de usuario
						</h3>

						<!--Card content-->
						<div class="card-body">
							<!--Title-->

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTipoUsuario.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de tipos de usuario
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoUsuarioEditRemove.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Lista editable tipos de usuario
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoUsuario.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Formulario tipos de usuario
								</a>

							</div>
						</div>
					</div>
				</p:outputPanel>
				<!-- Tipos de usuario-->

				<!-- Tipos de documento -->

				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesAdmin}"
					style="display:block">
					<div>
						<!--Card content-->
						<h3 class="card-header blue darken-2 white-text  text-center py-4">
							<i class="fa fa-tag mr-3"></i>Tipos de documento
						</h3>
						<div class="card-body">
							<!--Title-->

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTipoDocumento.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de tipos de documento
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoDocumentoEditRemove.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Lista editable tipos de
									documento
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoDocumento.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Formulario tipos de documento
								</a>

							</div>
						</div>
					</div>
				</p:outputPanel>

				<!-- Tipos de documento -->
			</div>
			<div class="card-deck  fadeIn" style="animation-name: fadeIn;">
				<!-- Tipos de transaccion -->

				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesAdmin}"
					style="display:block">
					<div>
						<h3
							class="card-header blue darken-2  white-text  text-center py-4">
							<i class="fa fa-tag mr-3"></i>Tipos de Transacción
						</h3>
						<!--Card content-->
						<div class="card-body">
							<!--Title-->

							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTipoTransaccion.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista de tipos de transacción
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoTransaccionEditRemove.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Lista editable tipos de
									transacción
								</a> <a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoTransaccion.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-edit mr-3"></i>Formulario tipos de transacción
								</a>

							</div>
						</div>
					</div>
				</p:outputPanel>
				<!-- Tipos de transaccion -->

				<!-- Cuentas registradas -->

				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesAdmin}"
					style="display:block">
					<div>
						<h3
							class="card-header blue darken-3  white-text  text-center py-4">
								<i class="fa fa-book mr-3"></i>Cuentas Registradas
						</h3>
						<!--Card content-->
						<div class="card-body">
							<!--Title-->
							
							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaCuentaRegistrada.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-list-ul mr-3"></i>Lista Cuentas registradas
								</a>

							</div>
						</div>
					</div>
				</p:outputPanel>
				<!-- Cuentas registradas -->
				
				<!-- Transacciones -->
				<p:outputPanel class="card mb-5"
					rendered="#{renderAdminBancariaView.renderOpcionesCajero}"
					style="display:block">
					<div>
						<h3
							class="card-header  blue lighten-1   white-text  text-center py-4">
								<i class="fa fa-shopping-cart mr-3"></i>Transacciones Bancarias
						</h3>
						<!--Card content-->
						<div class="card-body">
							<!--Title-->
							
							<div class="list-group list-group-flush">
								<a
									href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/cajero/transaccion.xhtml"
									class="list-group-item list-group-item-action waves-effect">
									<i class="fa fa-handshake-o mr-3"></i>Realizar Transacciones Bancarias
								</a>

							</div>
						</div>
					</div>
				</p:outputPanel>
				
				<!--  Transacciones -->
			</div>


		</h:form>
	</ui:define>
</ui:composition>