<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>.::Login::.</title>
	<meta name="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<link
		href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/bootstrap.min.css"
		rel="stylesheet" />
	<link
		href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/mdb.min.css"
		rel="stylesheet" />
	<link
		href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/css/style.css"
		rel="stylesheet" />

</h:head>
<h:body>
	<h:form>
		<p:growl id="msgGrowl" showDetail="false" />
		<div id="color-bar">
<div id="nav-bar"></div><!-- End Nav Bar -->


</div><!-- End color Bar -->
		<div class="row">

			<!-- Grid column -->
			<div class="col-lg-4 col-md-12  mx-auto">
			
				<div class="card " style="margin-top: 50px">
				
					<IMG alt="" width="50%" class="mx-auto"
						style="padding-top: 20px; margin-bottom: 10px"
						src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/img/logoAB.png" />
				
					<h4 class="text-center py-4">
						<strong>Iniciar sesión</strong>
					</h4>
			
					<div class="card-body px-lg-5 pt-0" style="margin-top: -30px">
						<div class="text-center" style="color: #757575;">
							<div class="md-form">
							<label for="usernameField">Nombre de usuario</label>
								<p:inputText id="usernameField" styleClass="form-control"
									class="form-control" name="j_username"
									value="#{loginVista.userId}" />
								
							</div>
							<div class="md-form">
								<p:password id="passwordField" name="j_password"
									value="#{loginVista.password}" styleClass="form-control"
									feedback="false" />
								<label for="passwordField">Contraseña</label>
							</div>

							<p:commandButton value="Ingresar"
								styleClass="btn  btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0"
								action="#{loginVista.login}" update="msgGrowl" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<h:panelGrid columns="1" border="0">




		</h:panelGrid>
	</h:form>
	<script type="text/javascript"
		src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript"
		src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/js/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
	</script>
</h:body>
</html>
