<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<footer class="page-footer font-small blue footer ">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-1">
			© 2018 Copyright: <a
				>Banco Web |
				Alejandro Pareja Londoño</a>
		</div>
		<!-- Copyright -->

	</footer>

</ui:composition>
