<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/sentinel"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">



	<div
		class="sidebar-fixed position-fixed custom-scrollbar scrollbar-morpheus-den">

		<a class="logo-wrapper waves-effect y-4"> <img
			src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/img/logoAB.png"
			class="img-responsive" style="margin-left: -10px" alt="Logo Banco"></img>

		</a>

		<div class="list-group list-group-flush">

			<a
				href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/principal.xhtml"
				class="list-group-item active waves-effect"> <i
				class="fa fa-home mr-3"></i>Página Principal
			</a>
			<p:outputPanel
				rendered="#{renderAdminBancariaView.renderOpcionesCliente}">
				<a class="list-group-item list-group-item-action "
					data-toggle="collapse" data-target="#clienteOpciones"
					aria-expanded="false" aria-controls="clienteOpciones"> <i
					class="fa fa-user mr-3"></i>Clientes <i
					class="fa fa-caret-down mr-3" />

				</a>
				<div class="collapse" id="clienteOpciones">

					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/cliente.xhtml"
						class="dropdown-item"> <i class="fa fa-pencil-square-o mr-3"></i>Formulario
						Clientes
					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/clienteEditRemove.xhtml"
						class=" dropdown-item  "> <i class="fa fa-list mr-3"></i>Listar
						y editar
					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/listaClientes.xhtml"
						class=" dropdown-item  "> <i class="fa fa-book mr-3"></i>Listar
					</a>
				</div>


				<a data-toggle="collapse" data-target="#cuentaOpciones"
					aria-expanded="false" aria-controls="cuentaOpciones"
					class="list-group-item list-group-item-action "> <i
					class="fa fa-credit-card mr-3"></i>Cuentas<i
					class="fa fa-caret-down mr-3" />
				</a>

				<div class="collapse" id="cuentaOpciones">

					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/cuenta.xhtml"
						class="dropdown-item"> <i class="fa fa-plus-circle mr-3"></i>Crear
					</a>
					<p:outputPanel
						rendered="#{renderAdminBancariaView.renderOpcionesAdmin}">


						<a
							href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/cuentaFormulario.xhtml"
							class="dropdown-item"> <i class="fa fa-pencil-square-o mr-3"></i>Formulario
							Cuentas
						</a>
						<a
							href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/cuentaEditRemove.xhtml"
							class=" dropdown-item  "> <i class="fa fa-list mr-3"></i>Listar
							y editar
						</a>
					</p:outputPanel>
					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/asesorComercial/listaCuenta.xhtml"
						class=" dropdown-item  "> <i class="fa fa-book mr-3"></i>Listar
					</a>
				</div>


			</p:outputPanel>



			<p:outputPanel
				rendered="#{renderAdminBancariaView.renderOpcionesAdmin}">

				<a data-toggle="collapse" data-target="#usuarioOpciones"
					aria-expanded="false" aria-controls="usuarioOpciones"
					class="list-group-item list-group-item-action "> <i
					class="fa fa-id-card mr-3"></i>Usuarios <i
					class="fa fa-caret-down mr-3" />
				</a>
				<div class="collapse" id="usuarioOpciones">

					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/usuario.xhtml"
						class="dropdown-item"> <i class="fa fa-pencil-square-o mr-3"></i>Formulario
						Usuarios
					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/usuarioEditRemove.xhtml"
						class=" dropdown-item  "> <i class="fa fa-list mr-3"></i>Listar
						y editar usuarios

					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaUsuario.xhtml"
						class=" dropdown-item  "> <i class="fa fa-book mr-3"></i>Listar
					</a>
				</div>

				<a href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTransaccion.xhtml"
						class="list-group-item list-group-item-action "> <i
					class="fa fa-money mr-3"></i> Ver Transacciones
				</a>
				<a data-toggle="collapse" data-target="#tipoUsuario"
					aria-expanded="false" aria-controls="tipoUsuario"
					class="list-group-item list-group-item-action"> <i
					class="fa fa-tags mr-3"></i>Tipos de Usuario <i
					class="fa fa-caret-down mr-3" />
				</a>
				
				<div class="collapse" id="tipoUsuario">

					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoUsuario.xhtml"
						class="dropdown-item"> <i class="fa fa-pencil-square-o mr-3"></i>Formulario
						tipo usuario
					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoUsuarioEditRemove.xhtml"
						class=" dropdown-item  "> <i class="fa fa-list mr-3"></i>Listar
						y editar

					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTipoUsuario.xhtml"
						class=" dropdown-item  "> <i class="fa fa-book mr-3"></i>Listar
					</a>
				</div>
				
				<!-- Tipos de documento -->
				
				
				<a data-toggle="collapse" data-target="#tipoDocumento"
					aria-expanded="false" aria-controls="tipoDocumento"
					class="list-group-item list-group-item-action"> <i
					class="fa fa-tags mr-3"></i>Tipos de Documento <i
					class="fa fa-caret-down mr-3" />
				</a>
				
				<div class="collapse" id="tipoDocumento">

					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoDocumento.xhtml"
						class="dropdown-item"> <i class="fa fa-pencil-square-o mr-3"></i>Formulario
						tipo Documento
					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoDocumentoEditRemove.xhtml"
						class=" dropdown-item  "> <i class="fa fa-list mr-3"></i>Listar
						y editar

					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTipoDocumento.xhtml"
						class=" dropdown-item  "> <i class="fa fa-book mr-3"></i>Listar
					</a>
				</div>
				
				
				<!--  Tipos de documento -->				
				
				<!-- Tipo de transaccion -->
				
				<a data-toggle="collapse" data-target="#tipoTransaccion"
					aria-expanded="false" aria-controls="tipoTransaccion"
					class="list-group-item list-group-item-action"> <i
					class="fa fa-tags mr-3"></i>Tipos de Transaccion <i
					class="fa fa-caret-down mr-3" />
				</a>
				
				<div class="collapse" id="tipoTransaccion">

					<a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoTransaccion.xhtml"
						class="dropdown-item"> <i class="fa fa-pencil-square-o mr-3"></i>Formulario
						tipo Transaccion
					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/tipoTransaccionEditRemove.xhtml"
						class=" dropdown-item  "> <i class="fa fa-list mr-3"></i>Listar
						y editar

					</a> <a
						href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaTipoTransaccion.xhtml"
						class=" dropdown-item  "> <i class="fa fa-book mr-3"></i>Listar
					</a>
				</div>
				
				
					
				<!--  Tipo de transaccion -->
				
				
				<a href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/admin/listaCuentaRegistrada.xhtml"
						class="list-group-item list-group-item-action "> <i
					class="fa fa-credit-card mr-3"></i>Ver Cuentas registradas
				</a>
			

			</p:outputPanel>
			<p:outputPanel rendered="#{renderAdminBancariaView.renderOpcionesCajero}">
				<a href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/xhtml/cajero/transaccion.xhtml"
						class="list-group-item list-group-item-action "> <i
					class="fa fa-handshake-o mr-3"></i>Realizar transacción
				</a>
			</p:outputPanel>


		</div>
	</div>



	<!-- 	<h:form id="menuform"> -->



	<!-- 		<p:menubar toggleable="true"> -->
	<!-- 			<p:submenu label="Cliente" icon="ui-icon-pencil"> -->

	<!-- 				<p:menuitem value="Clientes" -->
	<!-- 					url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/cliente.xhtml" /> -->


	<!-- 				<p:menuitem value="Lista Clientes" -->
	<!-- 					url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/listaClientes.xhtml" /> -->

	<!-- 				<p:menuitem value="Cliente Edit Remove" -->
	<!-- 					url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/clienteEditRemove.xhtml" /> -->
	<!-- 			</p:submenu> -->






	<!-- 			<p:menuitem value="Salir" -->
	<!-- 				url="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/j_spring_security_logout" -->
	<!-- 				icon="ui-icon-close" /> -->

	<!-- 		</p:menubar> -->

	<!-- 	</h:form> -->


</ui:composition>
