<ui:composition

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	 <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
              
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                    	<li class="nav-item">Fecha y Hora Actual : 	 
                    	<p:clock pattern="HH:mm:ss dd.MM.yyyy"  mode="server" />
                    	</li>
                       
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" >
                             <i class="fa fa-user"></i> <p:outputLabel value="#{usuarioView.usuarioEnSesion.nombre}"></p:outputLabel> | <p:outputLabel value="#{usuarioView.usuarioEnSesion.tipoUsuario.nombre}"></p:outputLabel>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/j_spring_security_logout" class="nav-link border border-light rounded waves-effect"
                            >
                                <i class="fa fa-sign-out mr-2"></i>Cerrar sesión
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
<!-- 	   <h1><a href="login.xhtml">Banco</a></h1> -->

</ui:composition>
