<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="frmCliente">

			<p:growl></p:growl>
			<p:dataTable id="dataTableCliente" var="cliente"
				value="#{clienteEditRemoveView.losClientes}" rows="10"
				paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
				<f:facet name="header">
        			Lista editable de Clientes
  				</f:facet>
				<p:column headerText="Id" width="70" filterBy="#{cliente.clieId}">
					<h:outputText value="#{cliente.clieId}" />
				</p:column>

				<p:column headerText="Nombre" filterBy="#{cliente.nombre}">
					<h:outputText value="#{cliente.nombre}" />
				</p:column>

				<p:column headerText="Dirección" filterBy="#{cliente.direccion}">
					<h:outputText value="#{cliente.direccion}" />
				</p:column>

				<p:column headerText="Telefono" filterBy="#{cliente.telefono}"
					width="160">
					<h:outputText value="#{cliente.telefono}" />
				</p:column>

				<p:column headerText="Email" width="270" filterBy="#{cliente.email}">
					<h:outputText value="#{cliente.email}" />
				</p:column>

				<p:column headerText="Activo" width="80"
					filterBy="#{cliente.activo}">
					<h:outputText value="#{cliente.activo}" />
				</p:column>

				<p:column headerText="Opciones">
					<p:commandButton id="btnEditar" icon="ui-icon-pencil"
						actionListener="#{clienteEditRemoveView.modificarActionListener}"
						update="frmCliente">
						<f:attribute name="clienteModificar" value="#{cliente}" />
					</p:commandButton>
					<p:commandButton id="btnBorrar" icon="ui-icon-trash"
						actionListener="#{clienteEditRemoveView.borrarActionListener}"
						update="frmCliente">
						<f:attribute name="clienteBorrar" value="#{cliente}" />
					</p:commandButton>

				</p:column>
				<f:facet name="footer">
					<p:commandButton icon="ui-icon-plus" value="Crear"
						update="frmCliente, frmCliente:dialogCliente"
						actionListener="#{clienteEditRemoveView.crearActionListener}"></p:commandButton>
				</f:facet>
			</p:dataTable>
			<p:dialog id="dialogCliente"
				visible="#{clienteEditRemoveView.dialogClienteVisible}"
				closable="true" widgetVar="dialogCliente" header="Editar cliente"
				modal="true">
				<p:messages></p:messages>
				<h:panelGrid columns="4">

					<p:outputLabel value="Identificación:" />
					<p:inputText id="txtIdentificacion"
						binding="#{clienteEditRemoveView.txtIdentificacion}">
						<p:ajax
							listener="#{clienteEditRemoveView.txtIdentificacionListener}"
							update="frmCliente">
						</p:ajax>
					</p:inputText>

					<p:outputLabel value="Nombre:" />
					<p:inputText id="txtNombre"
						binding="#{clienteEditRemoveView.txtNombre}" />

					<p:outputLabel value="Direccion:" />
					<p:inputText id="txtDireccion"
						binding="#{clienteEditRemoveView.txtDireccion}" />

					<p:outputLabel value="Telefono:" />
					<p:inputText id="txtTelefono"
						binding="#{clienteEditRemoveView.txtTelefono}"
						mask="(999) 999-9999" />

					<p:outputLabel value="Email:" />
					<p:inputText id="txtEmail"
						binding="#{clienteEditRemoveView.txtEmail}" />

					<p:outputLabel value="Tipo de Documento " />
					<p:selectOneMenu id="somTipoDoc" style="width:85%"
						binding="#{clienteEditRemoveView.somTipoDocumento}">
						<f:selectItem itemLabel="Selecciona uno" itemValue="-1" />
						<f:selectItems
							value="#{clienteEditRemoveView.losTiposDocumentosSelectItem}" />

					</p:selectOneMenu>
					<p:outputLabel value="Activo " />
					<p:selectOneMenu id="somActivo" style="width:85%"
						binding="#{clienteEditRemoveView.somActivo}">
						<f:selectItem itemLabel="---------" itemValue="-1" />
						<f:selectItem itemLabel="Sí" itemValue="S" />
						<f:selectItem itemLabel="No" itemValue="N" />
					</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid columns="4">
					<p:commandButton id="btnCrear" value="Crear" disabled="true"
						binding="#{clienteEditRemoveView.btnCrear}"
						action="#{clienteEditRemoveView.crearAction}" update="frmCliente" />
					<p:commandButton id="btnModificar" value="Modificar"
						disabled="true" binding="#{clienteEditRemoveView.btnModificar}"
						action="#{clienteEditRemoveView.modificarAction}"
						update="frmCliente" />
					<p:commandButton id="btnBorrar" value="Borrar" disabled="true"
						binding="#{clienteEditRemoveView.btnBorrar}"
						action="#{clienteEditRemoveView.borrarAction}" update="frmCliente" />
					<p:commandButton id="btnLimpiar" value="Limpiar"
						action="#{clienteEditRemoveView.limpiarAction}"
						update="frmCliente" />

				</h:panelGrid>
			</p:dialog>
		</h:form>
		<br></br>
		<br></br>
	</ui:define>
</ui:composition>