<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">
	<div class="card">
			<h5 class="card-header primary-color white-text  py-4">
				<strong>Formulario Clientes </strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
			<br></br>
		<h:form id="frmCliente">
			<p:growl id="msg" showDetail="true" closable="true">

			</p:growl>
			<h:panelGrid columns="4">

				<p:outputLabel value="Identificación:" />
				<p:inputText id="txtIdentificacion"
					binding="#{clienteView.txtIdentificacion}"  >
					<p:ajax listener="#{clienteView.txtIdentificacionListener}"
						update="frmCliente">
					</p:ajax>
				</p:inputText>

				<p:outputLabel value="Nombre:" />
				<p:inputText id="txtNombre" binding="#{clienteView.txtNombre}" />

				<p:outputLabel value="Direccion:" />
				<p:inputText id="txtDireccion" binding="#{clienteView.txtDireccion}" />

				<p:outputLabel value="Telefono:" />
				<p:inputText id="txtTelefono" binding="#{clienteView.txtTelefono}" />
				
				<p:outputLabel value="Email:" />
				<p:inputText id="txtEmail" binding="#{clienteView.txtEmail}" />

				<p:outputLabel value="Tipo de Documento " />
				<p:selectOneMenu id="somTipoDoc" style="width:85%"
					binding="#{clienteView.somTipoDocumento}">
					<f:selectItem itemLabel="Selecciona uno" itemValue="-1" />
					<f:selectItems value="#{clienteView.losTiposDocumentosSelectItem}" />

				</p:selectOneMenu>
				<p:outputLabel value="Activo " />
				<p:selectOneMenu id="somActivo" style="width:85%"
					binding="#{clienteView.somActivo}">
					<f:selectItem itemLabel="---------" itemValue="-1" />
					<f:selectItem itemLabel="Sí" itemValue="S" />
					<f:selectItem itemLabel="No" itemValue="N" />
				</p:selectOneMenu>
			</h:panelGrid>
			<br/>
			<h:panelGrid columns="4">
				<p:commandButton id="btnCrear" value="Crear" disabled="true"
					binding="#{clienteView.btnCrear}" styleClass="btn btn-primary btn-block"
					action="#{clienteView.crearAction}" update="frmCliente" />
				<p:commandButton id="btnModificar" value="Modificar" disabled="true"
					binding="#{clienteView.btnModificar}" styleClass="btn btn-primary btn-block"
					action="#{clienteView.modificarAction}" update="frmCliente" />
				<p:commandButton id="btnBorrar" value="Borrar" disabled="true"
					binding="#{clienteView.btnBorrar}" styleClass="btn btn-primary btn-block"
					action="#{clienteView.borrarAction}" update="frmCliente" />
				<p:commandButton id="btnLimpiar" value="Limpiar" styleClass="btn btn-primary btn-block"
					action="#{clienteView.limpiarAction}" update="frmCliente" />

			</h:panelGrid>
		</h:form>
	</div>
	</div>
</ui:define>
</ui:composition>