<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<div class="card">
			<h5 class="card-header primary-color white-text  py-4">
				<strong>Crear Cuenta </strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<h:form id="frmCuenta">
					<p:messages id="msg" showDetail="true" closable="true"  />

				
					
					<div class="ui-g">
						<div class="ui-g-12">
							<div class="ui-g-6">
								<p:outputLabel value="Id cuenta:"  styleClass="ui-g-6" />
								<p:inputMask id="txtIdCuenta" disabled="true"
									binding="#{cuentaView.txtIdCuenta}" mask="9999-9999-9999-9999"
									class="ui-g-6">
									<p:ajax listener="#{cuentaView.txtIdListener}"
										update="frmCuenta"></p:ajax>
								</p:inputMask>
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Clave: " styleClass="ui-g-6" />
								<p:password id="txtClave" redisplay="true" class="ui-g-6"
									binding="#{cuentaView.txtClave}" disabled="true" />
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Id Cliente:" styleClass="ui-g-6" />
								<p:inputText id="txtIdCliente" styleClass="ui-g-6" 
									binding="#{cuentaView.txtIdCliente}">
									<p:ajax listener="#{cuentaView.txtIdClienteListener}"
										update="nombreCliente"></p:ajax>
								</p:inputText>
							</div>
							<div class="ui-g-6">
								<p:outputLabel value="Nombre del cliente: " styleClass="ui-g-6" />
								<p:outputLabel value="-----" id="nombreCliente"
									styleClass="ui-g-6" binding="#{cuentaView.lblNombreCliente}"></p:outputLabel>
							</div>

						</div>

					</div>
					<h:panelGrid columns="4">
						<p:commandButton styleClass="btn btn-primary btn-block"
							id="btnCrear" value="Crear" action="#{cuentaView.crearAction}"
							update="frmCuenta" binding="#{cuentaView.btnCrear}"
							disabled="false" onstart="PF('statusDialog').show()"
							onsuccess="PF('statusDialog').hide()" />
						
						<p:commandButton id="btnLimpiar"
							styleClass="btn btn-primary btn-block" value="Limpiar "
							action="#{cuentaView.limpiarAction}" update="frmCuenta" />

					</h:panelGrid>
				

				</h:form>
			</div>
		</div>

	</ui:define>
</ui:composition>