<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
 		<h:form>
		<p:dataTable id="dataTableCuenta" var="cuenta"
			value="#{cuentaView.listaCuentas}" rows="10" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
			<p:column headerText="Id" filterBy="#{cuenta.cuenId}">
				<h:outputText value="#{cuenta.cuenId}" />
			</p:column>

			<p:column headerText="Activa" filterBy="#{cuenta.activa}">
				<h:outputText value="#{cuenta.activa}" />
			</p:column>

			<p:column headerText="Saldo" filterBy="#{cuenta.saldo}">
				<h:outputText value="#{cuenta.saldo}" />
			</p:column>
			<p:column headerText="Cliente Id" filterBy="#{cuenta.cliente.clieId}">
				<h:outputText value="#{cuenta.cliente.clieId}" />
			</p:column>

			<p:column headerText="Nombre de Cliente"
				filterBy="#{cuenta.cliente.nombre}">
				<h:outputText value="#{cuenta.cliente.nombre}" />
			</p:column>

		</p:dataTable>
		
	</h:form>

</ui:define>
</ui:composition>