<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form>


			<p:dataTable id="dataTableCliente" var="cliente"
				value="#{clienteView.losClientes}" rows="10" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15,20,30,40,50,100,200">
				<f:facet name="header">
        			Lista de Clientes
  				</f:facet>
				<p:column headerText="Id" width="70" filterBy="#{cliente.clieId}">
					<h:outputText value="#{cliente.clieId}" />
				</p:column>

				<p:column headerText="Nombre" filterBy="#{cliente.nombre}">
					<h:outputText value="#{cliente.nombre}" />
				</p:column>

				<p:column headerText="Dirección" filterBy="#{cliente.direccion}">
					<h:outputText value="#{cliente.direccion}" />
				</p:column>

				<p:column width="160" headerText="Telefono"
					filterBy="#{cliente.telefono}">
					<h:outputText value="#{cliente.telefono}" />
				</p:column>

				<p:column headerText="Email" width="270" filterBy="#{cliente.email}">
					<h:outputText value="#{cliente.email}" />
				</p:column>

				<p:column headerText="Activo" width="80"
					filterBy="#{cliente.activo}">
					<h:outputText value="#{cliente.activo}" />
				</p:column>
			</p:dataTable>

		</h:form>
		<br></br>
		<br></br>

	</ui:define>
</ui:composition>
